/* grid container */
.holy-grail-grid {
  display: grid;
  grid-template-areas:
    "header"
    "canvas-cont"
    "left-sidebar"
    "right-sidebar"
    "footer";
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  /* fallback height */
  min-height: 100vh;

  /* new small viewport height for modern browsers */
  min-height: 100svh;
}

/* general column padding */
.holy-grail-grid > * {
  padding: 1rem;
}

/* assign columns to grid areas */
.holy-grail-grid > .header {
  grid-area: header;
  background: #f97171;
}
.holy-grail-grid > .canvas-cont {
  grid-area: canvas-cont;
  background: #fff;
}
.holy-grail-grid > .left-sidebar {
  grid-area: left-sidebar;
  background: #f5d55f;
}
.holy-grail-grid > .right-sidebar {
  grid-area: right-sidebar;
  background: #c5ed77;
}
.holy-grail-grid > .footer {
  grid-area: footer;
  background: #72c2f1;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .holy-grail-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "canvas-cont canvas-cont"
      "left-sidebar right-sidebar"
      "footer footer";
  }
}

/* desktop breakpoint */
@media (min-width: 1024px) {
  .holy-grail-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "left-sidebar canvas-cont canvas-cont right-sidebar"
      "footer footer footer footer";
  }
}
